header {
    background-color:green;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #999;
}

section {
    padding: 20px;
}